.holder{
    display: grid;
    grid-template-areas:
        "one one five "
        "three two four";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 400px;
    height: 200px;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
}

.item{
    display: flex;
align-items: center;
justify-content: center;
font-size: 2em;
color: black;
}


.item:nth-child(1) {
    grid-area: one;
    background-color: red; 
}

.item:nth-child(2) {
    grid-area: two;
    background-color: aqua; 
}

.item:nth-child(3) {
    grid-area: three;
    background-color: purple; 
}

.item:nth-child(4) {
    grid-area: four;
    background-color: greenyellow; 
}

.item:nth-child(5) {
    grid-area: five;
    background-color: orange; 
}